<ng-lottie [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>

<mat-card>
  <div fxLayout="row"
       fxLayoutAlign="space-around">
    <button mat-raised-button color="warn" (click)=" generate4DNum(); count4D(); alertUser4D()">4D</button>
  </div>
</mat-card>

<mat-card>
  <div fxLayout="row"
  fxLayoutAlign="space-around">
  <!-- <p *ngIf="huatNum4D" class="huatNumber"><strong>{{huatNum4D}}</strong></p> -->
  <p class="huatNumber"><strong>{{huatNum4D}}</strong></p>
  </div>
</mat-card>

<mat-card>
  <div fxLayout="row"
  fxLayoutAlign="space-around">
<button mat-raised-button color="warn" (click)="generateTotoNum();
                                                clearIntervals();
                                                totoCount();
                                                alertUserToto();
                                                animateNum1(totoNum1Stop);
                                                animateNum2(totoNum2Stop);
                                                animateNum3(totoNum3Stop);
                                                animateNum4(totoNum4Stop);
                                                animateNum5(totoNum5Stop);
                                                animateNum6(totoNum6Stop)
                                                ">TOTO</button>
</div>
</mat-card>

<mat-card>
  <div fxLayout="row"
  fxLayoutAlign="space-around">
  <!-- <p class="huatNumber" *ngFor='let num of huatNumToto'><strong>{{num}}</strong></p> -->
  <p *ngIf="totoNum1Start" class="huatNumber"><strong>{{totoNum1Start}}</strong></p>
  <p *ngIf="totoNum2Start" class="huatNumber"><strong>{{totoNum2Start}}</strong></p>
  <p *ngIf="totoNum3Start" class="huatNumber"><strong>{{totoNum3Start}}</strong></p>
  <p *ngIf="totoNum4Start" class="huatNumber"><strong>{{totoNum4Start}}</strong></p>
  <p *ngIf="totoNum5Start" class="huatNumber"><strong>{{totoNum5Start}}</strong></p>
  <p *ngIf="totoNum6Start" class="huatNumber"><strong>{{totoNum6Start}}</strong></p>
  </div>
</mat-card>
